* {
  margin: 0;
  padding: 0;
}

header {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  padding-bottom: 327px;
}
header h1 {
  font-family: HelveticaNeueLTProLt;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  text-align: center;
  margin-top: 261px;
}
header h3 {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.03em;
  color: #898888;
  text-align: center;
  margin-top: 4px;
}
header .button {
  font-family: Roboto-Regular;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #000000;
  width: 188px;
  height: 57px;
  border: 1px solid #000000;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 43px;
}
header .button:hover {
  color: #fff;
  background-color: #000;
}
header nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
  list-style-type: none;
  justify-items: center;
  margin-top: 22px;
}
header nav ul a {
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: #989696;
}
header nav ul a:hover {
  color: #010101;
}
header nav ul li.active a {
  color: #010101;
}

main .about {
  color: #b7b7b7;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30vw 178px 30vw;
  grid-template-columns: repeat(2, 30vw);
  font-family: Montserrat-Regular;
  -ms-grid-rows: 350px 178px 350px;
  grid-template-rows: 350px 350px;
  gap: 178px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10vh 0;
  background: url(../images/White.png) center bottom repeat-x, url(../images/Black.png) center bottom repeat-x, #1d1d1d;
  padding-bottom: 271px;
  padding-top: 128px;
}

main .about > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

main .about > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

main .about > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

main .about > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
main .about .about__item {
  background-color: #181818;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
main .about .about__year {
  font-family: HelveticaNeueLTProRoman;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
}
main .about .about__text {
  font-family: Montserrat-Regular;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #b7b7b7;
  padding: 1vw;
}
main .team {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
main .team h1 {
  font-family: HelveticaNeueLTProLt;
  font-size: 34px;
  font-weight: 400;
  margin-top: 150px;
  text-align: center;
  color: #1d1e1f;
}
main .team h3 {
  font-family: Merriweather-LightItalic;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #898888;
}
main .team .people {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vw 81px 20vw 81px 20vw;
  grid-template-columns: repeat(3, 20vw);
  padding-top: 10vh;
  padding-bottom: 20vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 81px;
  justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
main .team .people .people__item img {
  width: 170px;
  height: 170px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .team .people .people__item .people__social {
  margin-top: 15px;
}
main .team .people .people__item .people__social i {
  font-size: 21px;
  color: #e4e4e4;
  font-family: fontello;
}
main .team .people .people__item .people__name {
  margin-top: 20px;
  font-family: HelveticaNeueLTProMd;
  font-size: 24px;
  font-weight: 400;
  color: #464646;
}
main .team .people .people__item .people__jobs {
  font-family: HelveticaNeueLTProLt;
  font-size: 13px;
  font-weight: 400;
  color: #b3b3b3;
}
main .provide {
  background-color: #1d1d1d;
  padding-top: 176px;
  border: 2px solid;
  padding-bottom: 155px;
}
main .provide h1 {
  font-family: HelveticaNeueLTProLt;
  font-size: 34px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 5px;
}
main .provide h3 {
  font-family: Merriweather-LightItalic;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #777777;
  text-align: center;
}
main .provide .inf {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20vw 81px 20vw 81px 20vw;
  grid-template-columns: repeat(3, 20vw);
  padding-top: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 81px;
  justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
main .provide .inf .inf__item img {
  width: 170px;
  height: 170px;
  border-radius: 150%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 6px solid white;
}
main .provide .inf .inf__item .inf__name {
  font-family: HelveticaNeueLTProLt;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 43px;
  margin-bottom: 31px;
}
main .provide .inf .inf__item .inf__jobs {
  font-family: HelveticaNeueLTProLt;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #383838;
}
main .forma {
  text-align: center;
  padding: 10vw 10vw;
}
main .forma h2 {
  font-family: HelveticaNeueLTProLt;
  font-size: 3vw;
  font-weight: 400;
  color: #1d1e1f;
}
main .forma p {
  font-family: Merriweather-LightItalic;
  font-size: 1vw;
  font-weight: 300;
  color: #898888;
}
main .forma .forma__items {
  padding: 5vw 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5vw 1fr 5vw 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5vw;
  margin-bottom: 2vw;
}
main .forma .forma__items .forma__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3vw;
}
main .forma .forma__items .forma__item i {
  font-size: 2vw;
}
main .forma .forma__items .forma__item p {
  font-family: HelveticaNeueLTProLt;
  font-size: 1vw;
  font-weight: 400;
  color: #898888;
}
main .forma form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .forma form input {
  text-align: center;
  margin-bottom: 1vw;
  width: 40vw;
  height: 3vw;
  font-family: HelveticaNeueLTProLt;
  font-size: 1vw;
  font-weight: 400;
  color: #898888;
}
main .forma form textarea {
  resize: none;
  width: 40vw;
  padding: 1vw;
  font-family: HelveticaNeueLTProLt;
  font-size: 0.8vw;
  font-weight: 400;
  color: #898888;
  margin-bottom: 1vw;
}
main .forma form input[type=submit] {
  background-color: #161616;
  font-family: HelveticaNeueLTProMd;
  font-size: 1vw;
  font-weight: 400;
  color: #fefefe;
}

footer {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: HelveticaNeueLTProLt;
  font-size: 1vw;
  font-weight: 400;
  color: #3b3b3b;
  text-align: center;
}